@using BlazorCitylife.Data
@using BlazorCitylife.Models
@using CityLife 
@inject TranslateBox tBox 
@{
    List<string> staffComments = new List<string>();
    if (theOrderData.staffComments != null)
    {
        staffComments = theOrderData.staffComments.Split('\n').ToList();
    }
}
<table style="width:300px;">
    @foreach (string comment in staffComments)
    {
        <tr>
            <td style="background-color:aliceblue" colspan="2">@comment</td>
        </tr>
    }
    <tr>
        <td style="width:150px;">@tBox.translate("Name")</td>
        <td style="width:150px;text-align:right">@theOrderData.name</td>
    </tr>
    <tr>
        <td>@tBox.translate("Phone")</td>
        <td>
            <a class="hyperlink" style="float:right" href="@theOrderData.phone">@theOrderData.phone</a>
        </td>
    </tr>
    <tr>
        <td>@tBox.translate("Email")</td>
        <td>
            <a style="float:right" class="hyperlink" href="mailto:@theOrderData.email">@theOrderData.email</a>
        </td>
    </tr>
    <tr>
        <td >@tBox.translate("Country")</td>
        <td style="text-align:right">@theOrderData.country</td>
    </tr>
    <tr>
        <td >@tBox.translate("Guests")</td>
        <td style="text-align: right">@theOrderData.adults+@theOrderData.children</td>
    </tr>
    <tr>
        <td >@tBox.translate("Checkn")</td>
        <td style="text-align:right">@theOrderData.checkin.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <td >@tBox.translate("Checkout")</td>
        <td style="text-align:right">@theOrderData.checkout.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <td >@tBox.translate("Price")</td>
        <td style="text-align:right">@theOrderData.price</td>
    </tr>
    <tr>
        <td>@tBox.translate("Paid")</td>
        <td style="text-align:right">@theOrderData.paid</td>
    </tr>
    <tr>
        <td>@tBox.translate("Expected Arrival")</td>
        <td style="text-align:right">@theOrderData.expectedArrival</td>
    </tr>
    <tr>
        <td>@tBox.translate("special requests")</td>
        <td style="text-align:right">@theOrderData.comments</td>
    </tr>
    <tr>
        <td>@tBox.translate("Status")</td>
        <td style="text-align:right">@tBox.translate(theOrderData.status.ToString())</td>
    </tr>
    <tr>
        <td>
            <btn class="btn btn-primary" name="Update" style="float:left" href="/staff/s23updateOrder?orderId=@theOrderData.orderId">@tBox.translate("Update")</btn>
        </td>
        <td>
            <btn class="btn btn-primary" name="Delete" style="float:right" @onclick="DeleteOrderPopup">@tBox.translate("Delete")</btn>
        </td>
    </tr>
</table>
    

@if (showDeleteConfirmation)
{
    <Confirmation text="Are you sure you want to delete the order?" UserClicked="UserClicked"></Confirmation>
}


@code {
    [Parameter]
    public OrderData theOrderData { get; set; }
    bool showDeleteConfirmation = false;

    public void DeleteOrderPopup()
    {
        showDeleteConfirmation = true;
    }
    public void UserClicked(string okCancel)
    {
        if (okCancel == "OK")
        {
            showDeleteConfirmation = false;
        }
        else
        {

        }
    }

}
